<div class="music">
  <h1 class="music__heading">The Music Page</h1>
  <p class="music__description">{{data}}</p>

  <a href="/albums" class="link">Go to albums</a>
  <a href="/artists" class="link">Go to artists</a>
  <a href="/genres" class="link">Go to genres</a>
  <a href="/" class="link link--home">Back to home</a>
</div>